[submodule "ThirdParty/sdl"]
	path = ThirdParty/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/sdl_mixer"]
	path = ThirdParty/sdl_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "third-party/sdl_mixer"]
	path = third-party/sdl_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "third-party/sdl"]
	path = third-party/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "third-party/uzlezz_language"]
	path = third-party/uzlezz_language
	url = https://github.com/uzlezz-soft/UzlezzLanguage.git
[submodule "third-party/entt"]
	path = third-party/entt
	url = https://github.com/skypjack/entt.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm.git
